<%- include('../partials/header') %>

	<main class="d-flex flex-column flex-md-row p-3 py-md-4 justify-content-center">
		<form class="col-md-5 text-center" method="POST" action="/skills/<%= skill.id %>?_method=PUT">
			<h1 class="h3 mb-3 fw-normal">Edit your <%= skill.name %> skill</h1>

			<div class="form-floating">
				<input type="text" class="form-control" id="name" name="name" value="<%= skill.name %>" autofocus onfocus="this.setSelectionRange(this.value.length, this.value.length)">
				<label for="name">Name of skill</label>
			</div>

			<div class="form-floating">
				<input type="text" class="form-control" id="description" value="<%= skill.description %>"
					name="description">
				<label for="description">Short description</label>
			</div>

			<div class="form-floating">
				<input type="text" class="form-control" id="url" value="<%= skill.url %>" name="url">
				<label for="url">Logo url (optional)</label>
			</div>

			<div class="form-check text-start my-3">
				<input class="form-check-input" type="checkbox" value="true" id="isKnown" name="isKnown" <%=skill.isKnown === true ? "checked" : "" %>>
				<label class="form-check-label" for="isKnown">
					Already known?
				</label>
			</div>
			<button class="btn btn-primary w-25 py-2" type="submit">Update</button>
		</form>
	</main>

<%- include('../partials/footer') %>