<%- include('../partials/header') %>

	<!-- Basic hero example from getbootstrap.com -->

	<div class="px-4 py-5 my-5 text-center">
		<img class="d-block mx-auto mb-4" src="<%= skill.url %>" alt="<% skill.name %>" width="300" height="200">
		<h1 class="display-5 fw-bold text-body-emphasis">
			<% skill.name %>
		</h1>
		<div class="col-lg-5 mx-auto">
			<p class="lead mb-4">
				<%= skill.description %>
			</p>
			<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
				<form action="/skills/<%= skill.id %>/edit" method="GET"><button type="submit" class="btn btn-primary btn-sm px-3">Edit</button></form>
				<form action="/skills/<%= skill.id %>?_method=DELETE" method="POST"><button type="submit" class="btn btn-danger btn-sm px-3" >Delete</button></form>
			</div>
		</div>
	</div>


<%- include('../partials/footer') %>